


/* html */
html {width:100%;-webkit-font-smoothing: antialiased;height:100%;}

/* body */
body{width:100%;height:100%;font-family:'Raleway';margin:0 auto;font-weight:300;position:relative;background:#000;color:#333;}

*{ margin:0; }

/* clear border for IE browsers */
img{border:0;}

/*------------------------------------------*/
/*	 BOOTSTRAP RESET
/*------------------------------------------*/

/* clear bootstrap p tag */
p{margin:0;padding:0;}

/* h1.. clear */
h1,h2,h3,h4,h5,h6{padding:0;margin:0;}

/* 	clear bootstrap buttons behavior */
.btn{border-radius:0;}
.btn:focus{box-shadow:none !important;outline:0;}
.btn:active:hover{box-shadow:none !important;outline:0;}
.btn:hover{box-shadow:none !important;outline:0;}
.btn:focus{box-shadow:none !important;outline:0;}

/* clear bootstrap behavior for A tag */
a:focus{box-shadow:none !important;outline:0;}
a:active:hover{box-shadow:none !important;outline:0;}
a:hover{box-shadow:none !important;outline:0;}
a:focus{box-shadow:none !important;outline:0;}

/* clear bootstrap textfield and inputs behavior */

textarea{border:0 !important;background:#eff3f7 !important;resize:none !important;font-weight:400;border-radius:0 !important;}
textarea:active:hover{box-shadow:none !important;outline:0;border:0 !important;}
textarea:hover{box-shadow:none !important;outline:0;border:0 !important;}
textarea:focus{box-shadow:none !important;outline:0;border:0 !important;}

input{box-shadow:none !important; background:#ffffff !important;font-weight:400;border:1px solid #e5e5e5 !important;}
input:focus{box-shadow:none !important;outline:0;border:1px solid #e5e5e5 !important;}
input:active:hover{box-shadow:none !important;outline:0;border:1px solid #e5e5e5 !important;}
input:hover{box-shadow:none !important;outline:0;border:1px solid #e5e5e5 !important;}
input:focus{box-shadow:none !important;outline:0;border:1px solid #e5e5e5 !important;}


.row{
	padding:0;margin:0;
}

/*------------------------------------------*/
/*	 END BOOTSTRAP RESET
/*------------------------------------------*/





/* some globals used in html files for easier code write*/
.overflow{overflow:hidden;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.nopadding{padding:0 !important;}
.marginauto{margin:0 auto;}
.upper{text-transform: uppercase;}
.fadeButton{
	-webkit-transition: all ease .6s;
	-moz-transition: all ease .6s;
	-o-transition: all ease .6s;
	transition: all ease .6s;
}


/* BOOTSTRAP NAVBAR TOP */
.navbar {margin-bottom:0px !important;padding:0px 0px 0px 0px;float: none;}
.navbar-container{position:relative;z-index:1003;text-align:center;padding:0;}

.navbar-left{padding:0px 20px 0px 0px;position:relative;z-index:10;margin-left:30px;}
.navbar-right{padding:0px 0px 0px 0px;position:relative;z-index:10;margin-right:30px;}

.navbar-header{position:relative;z-index:2;}
.navbar-default{background:rgba(0,0,0,0);border-top:0;border-bottom:none;border-radius:0;border-left:0;border-right:0;font-family:'Raleway';padding:8px 0px 8px 0px;}
.navbar-fixed-top{z-index:9999;width:100%;}
.navbar-collapse{padding:0px 0px 0px 0px;overflow:hidden;}

/* navbar buttons */

.nav-first{}
.navbar-default .navbar-nav>li>a{overflow:hidden;background:transparent;color:#ffffff;font-weight:600;padding:22px 15px 20px 15px;font-size:12px;position:relative;z-index:11;letter-spacing:0px;}
.navbar-default .navbar-nav>li>a:focus{color:#59617b;}
.navbar-default .navbar-nav>li>a:hover{background:transparent;color:#59617b;}
.navbar-default .navbar-nav>.active>a{color:#59617b;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{background:transparent !important;color:#59617b;}
.navbar-default .navbar-nav>.active>a:hover{color:#59617b;}

/* navbar mobile bottom line */
.nav-divider-container{text-align:center;height:2px;}
.nav-divider{display:inline-block;width:10px;height:1px;background:#D94835 !important;}

/* form search in top navbar */
.form-navbar{background:transparent !important;border:1px solid #313131 !important;margin-top:16px;text-align:left;border-radius:0px;width:200px;padding-left:35px;}
.form-navbar:hover{background:transparent !important;border:1px solid #313131 !important;margin-top:16px;text-align:left;border-radius:0px;width:220px;}
.form-navbar:active{background:transparent !important;border:1px solid #313131 !important;margin-top:16px;text-align:left;border-radius:0px;width:220px;}
.form-navbar:active:hover{background:transparent !important;border:1px solid #313131 !important;margin-top:16px;text-align:left;border-radius:0px;width:220px;}
.form-navbar:focus{background:transparent !important;border:1px solid #313131 !important;margin-top:16px;text-align:left;border-radius:0px;width:220px;}

.navbar-right li.search_li {margin:0px 0px 0px 15px;}
.navbar-right li.search_li i{position:absolute;left:14px;top:26px;color:#e5e5e5;}
.navbar-right li .right-social i{color:#e5e5e5;padding:28px 8px 24px 8px;}
.navbar-right li a.right-social{padding:0px 2px 0px 2px;}

.navbar-right .li-tooltips-fb i:hover{color:#3A5795;}
.navbar-right .li-tooltips-tw i:hover{color:#53A9EA;}
.navbar-right .li-tooltips-gp i:hover{color:#D94835;}
.navbar-right .li-tooltips-p i:hover{color:#CB2027;}


/* change right menu bootstrap button behavior - visible in small resolutions */
.navbar-header .navbar-toggle  {margin-right:25px !important;}
.navbar-default .navbar-toggle {border-color:#FFC400 !important;border-radius:0 !important;}
.navbar-default .navbar-toggle .icon-bar{background-color:#FFC400 !important;}
.navbar-default .navbar-toggle:hover{background:transparent !important}
.navbar-default .navbar-toggle:active:hover{background:transparent !important}
.navbar-default .navbar-toggle:focus{background:transparent !important}


/* logotype on left ( not used ) */
.navbar-brand {float:none;padding:0 !important;}
.navbar-brand i{display:inline-block;vertical-align:0px;font-size:62px;}
.navbar-center{position: absolute;width: 100%;left: 0;top: 0;text-align: center;margin: auto;height:100%;}

/* logotype */
.logotype{font-weight:800;color:#ffffff !important;font-size:42px;}
.logotype span{font-weight:300;color:#ffffff !important;display:inline-block;margin-top:23px;margin-right:30px;margin-left:30px;}
.logotype i{font-size:42px;display:inline-block;margin-top:12px;margin-left:15px;color:#ffffff;}

/* social icons on top */
.s0-col-text{color:#e5e5e5;font-weight:600;font-size:12px;padding:15px 18px 10px 0px;border-bottom:1px solid #313131;}
.s0-col-text i{display:inline-block;font-size:15px;margin:0px 5px 0px 5px;}
/* END NAVBAR */





/*------------------------------------------*/
/*	 ICON SEPARATOR FOR TITLES 
/*------------------------------------------*/
.i-separator {margin: 15px auto 15px auto;position: relative;text-align: center;width: 50%;font-size:24px;color:rgba(217,15,48,1);}
.i-separator:after,
.i-separator:before {
	display: block;
	content: "";
	height: 1px;
	width: calc(50% - 20px);
	position: absolute;
	top:50%;
	left: 0;
	line-height:1px;
	/* -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%); */
}
.i-separator:after {left:auto;right: 0;}
.i-separator:after,.i-separator:before{
	background: -moz-linear-gradient(right,  rgba(217,15,48,1) 0%, rgba(240,93,117,0) 90%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(right,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(right,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(right,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to left,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
}
.i-separator:after {
	background: -moz-linear-gradient(left,  rgba(217,15,48,1) 0%, rgba(240,93,117,0) 90%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(217,15,48,1) 0%,rgba(240,93,117,0) 90%,rgba(255,255,255,0) 100%);
}


/* SECTION DIVIDER TOP */

.section-top-divider{margin:0px auto 0px auto;color:rgba(217,15,48,1);}


/*------------------------------------------*/
/*	 SECTION BOTTOM 2 ( small section with orange bordered button ) 
/*------------------------------------------*/

.s1-bottom-2{}
.s1-bottom-pattern-2{padding:60px 0px 60px 0px;background:#121318;background:#181a21;border-bottom:1px solid #101116;}

/* container for content */
.s1-col-bottom-2{padding:0px 0px 0px 0px;}
.s1-col-bottom-span-2{font-size:18px;font-weight:400;font-family:'Raleway';display:inline-block;word-spacing:2px;color:#99a0b5;}
.s1-col-bottom-span-2 p{display:inline-block;}
.s1-col-bottom-span-2 span{color:#d3d7e4;}

/* button on right */
.btn-s2-2{display:inline-block;border:1px solid #feb843;color:#e5e5e5;font-size:13px;margin:0px 6px 0px 6px;font-weight:700;padding-top:8px;}
.btn-s2-2 i{margin-right:10px;}
.btn-s2-2:hover{background:#feb843;color:#000000;}


/* ############################################################### PAGE CONTENT  ################################################################
   ############################################################################################################################################## */

/* colors of darker text 99a0b5 */
/* color darker-lighter for span text abb2c4 */
/* red F62459 */
/* orange feb843 */
/* green 4eb96e */
/* icon color 373a4a */




/*------------------------------------------*/
/*	 1 SECTION - main page
/*------------------------------------------*/


.s1{height:100%;position:relative;}
.s1-pattern{min-height:100%;background: url('../img/patterns/padded2.png');background-attachment:fixed;padding:0px 0px 0px 0px;position:relative;}

#section-1{height:100%;}

/* title container */
.s1-title-container{
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .6s;
	transition: all ease .3s;
}
.s1-title-big{font-size:76px;color:#ffffff;line-height:72px;font-weight:300;}
.s1-title-big h1{font-size:62px;line-height:68px;font-weight:300;}
.s1-title-small{font-size:18px;color:#99a0b5;line-height:24px;font-weight:400;padding:35px 0px 35px 0px;word-spacing:2px;}
.s1-title-small span{color:#d3d7e4;}

/* orange buttons on bottom */
.s1-buttons-container{text-align:center;padding:5px 0px 0px 0px;}
.s1-buttons-container .btn-1{
	min-width:220px;display:inline-block;border:1px solid #feb843;color:#e5e5e5;font-size:13px;margin:0px 6px 0px 6px;font-weight:700;
	padding:6px 12px;
}
.s1-buttons-container .btn-1:hover{background:#feb843;color:#000}
.s1-buttons-container .btn-2{
	min-width:220px;background:#feb843;display:inline-block;border:1px solid #feb843;color:#000000;font-size:13px;margin:0px 6px 0px 6px;font-weight:700;
	padding:6px 12px;
}

.s1-buttons-container .btn-2:hover{background:#feb843 !important;border:1px solid #feb843 !important;color:#000}

.s1-bottom{position:absolute;bottom:0;right:0;left:0;text-align:center;}
.s1-bottom .s1-icon{display:inline-block;margin-bottom:30px;padding:0px 15px 0px 15px;}
.s1-bottom .s1-icon i { font-size:32px;color:#4FBA6F;}
/*------------------------------------------*/
/*	 2 SECTION - our adventages
/*------------------------------------------*/


.s2{background:#181a21;}
.s2-pattern{padding:80px 0px 60px 0px;
	background:#181a21;
	/*background:url('../img/bg/bg2.png') no-repeat center 0px ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */	
	border-top:1px solid #101116;
}

/* SECTION TITLE */
.s2-title-container{padding:0px 15px 40px 15px;}
.s2-title-big{font-size:42px;color:#ffffff;}
.s2-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s2-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s2-title-small span{color:#d3d7e4;}

.s2-content{}

/* left icons - middle mockup iphone - right icons */
.s2-left{float:left;width: 33%;padding:85px 0px 0px 0px;}
.s2-center{float:left;width: 34%;}
.s2-right{float:left;width: 33%;padding:85px 0px 0px 0px;}

/* container for each item with icon, title and text */
.s2-icon-container{padding:0px 0px 40px 0px;}

/* icon with text on left */
.s2-left img{display:inline-block;margin:0;width:60px;height:60px;}
.s2-left p{color:#99a0b5;font-weight:500;font-size:15px;line-height:26px;padding:0;}
.s2-left h4{padding:14px 0px 10px 0px;color:#ffffff;font-weight:700;font-size:16px;}

/* iphone mockup */
.s2-center img{margin:0 auto;}

/* icon with text on right */
.s2-right img{display:inline-block;margin:0;width:60px;height:60px;}
.s2-right p{color:#99a0b5;font-weight:500;font-size:15px;line-height:26px;padding:0;}
.s2-right h4{padding:14px 0px 10px 0px;color:#ffffff;font-weight:700;font-size:16px;}




/*------------------------------------------*/
/*	 3 SECTION - products
/*------------------------------------------*/


/* SECTION TITLE */

.s3{background:#16181e;}
.s3-pattern{padding:80px 0px 0px 0px;}

.s3-title-container{padding:0px 15px 60px 15px;}
.s3-title-big{font-size:42px;color:#ffffff;}
.s3-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s3-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s3-title-small span{color:#d3d7e4;}

/* SECTION CONTENT */

.s4{background:#16181e;}
.s4-pattern{padding:40px 0px 80px 0px;}
	
/* container for all 4 item boxes */
.s4-col-content{padding:0px 0px 0px 0px;}

/* container for box */
.s4-col-item{}
/* image in box */
.s4-col-item img{

	margin:0 auto;border:6px solid #181a21;
	
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.55);
}
/* hover effect for image */
.s4-col-item img:hover{
	
	margin:0 auto;border:6px solid #181a21;
	
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	
	opacity:0.4;
	cursor:url('../img/cursor.png'),auto;
	cursor:url('../img/cursor.cur'),auto;
}


.s4-col-item {position:relative;}

/* title of item */
.s4-col-description-title{padding:30px 0px 0px 0px;color:#ffffff;font-weight:700;font-size:24px;word-spacing: 5px;font-family:'Raleway';}

/* descriptions of item box - green */
.s4-col-description-bottom{padding:15px 0px 15px 0px;}
.s4-col-description-bottom-item{display:inline-block;margin:0px 0px 0px 0px;color:#3FC380;font-weight:500;font-size:16px;}

/* item content */
.s4-col-item-content{padding:10px 0px 15px 0px;font-weight:500;font-size:15px;color:#99a0b5;line-height:26px;}
.s4-col-item-content span{color:#d3d7e4;}

/* read more link */
.s4-col-item-content a{color:#feb843;padding-top:10px;display:inline-block;}

	
	
/*------------------------------------------*/
/*	 4 SECTION - team
/*------------------------------------------*/	




/* CONTENT WITH BACKGROUND FOR SECTION */

/* background and pattern */
.s6{background:#16181e;background: url('../img/patterns/padded2.png');background-attachment:fixed;}	
.s6-pattern{padding:80px 0px 100px 0px;min-height:600px;}


/* title for section */
.s6-title-container{padding:0px 15px 60px 15px;}
.s6-title-big{font-size:42px;color:#ffffff;}
.s6-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s6-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s6-title-small span{color:#d3d7e4;}
	

/*first 4 images in column */
.s6-content-1{padding:40px 15px 0px 15px;}
	
/* second 4 images in column */
.s6-content-2{padding:45px 15px 0px 15px;}	

/* row for image for hover purposes */
.s6-person-row{padding:0;margin:0;position:relative;}
.s6-person{}
/* shadow/border for image */
.s6-person .person-img{
	
	border-radius:0%;margin:0 auto;border:6px solid #181a21;
	
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	
}

/* opacity container */
.s6-person-opacity{position:absolute;opacity:0;background:rgba(0,0,0,0.6);top:0;bottom:0;left:0;right:0;cursor:pointer;}
.s6-person-opacity img{margin-left:calc(50% - 25px);margin-top:calc(50% - 30px);width:50px;height:50px;}
.s6-person-opacity:hover{opacity:1;}

/* social icons in hover container */
.s6-social-container{padding:0px 15px 0px 15px;margin-top:calc(50% - 30px);}
.s6-item-social{display:inline-block;border:1px solid #ffffff;color:#ffffff;width:45px;height:45px;cursor:pointer;margin:0px 6px 0px 6px;position:relative;}
.s6-item-social i{font-size:21px;color:#ffffff;position:absolute;top:0;left:0;right:0;bottom:0;line-height:45px;}

/* icon FB */
.s6-social-container .person-fb-icon .s6-item-social:hover{border:1px solid #3A5795;background:#3A5795} 
.s6-social-container .person-fb-icon .s6-item-social i:hover{color:#ffffff;}
/* icon TW */
.s6-social-container .person-tw-icon .s6-item-social:hover{border:1px solid #53A9EA;background:#53A9EA} 
.s6-social-container .person-tw-icon .s6-item-social i:hover{color:#ffffff;}
/* icon LN */
.s6-social-container .person-in-icon .s6-item-social:hover{border:1px solid #007AB5;background:#007AB5} 
.s6-social-container .person-in-icon .s6-item-social i:hover{color:#ffffff;}

/* person bottom name and job */
.s6-person-name{color:#ffffff;padding:15px 0px 0px 0px;font-weight:600;font-size:16px;}
.s6-person-job{color:#3FC380;font-weight:500;font-size:14px;}



/*------------------------------------------*/
/*	 5 SECTION - reviews
/*------------------------------------------*/

/* TITLE FOR SECTION */
.s7{background:#181a21}
.s7-pattern{padding:80px 0px 0px 0px;border-top:1px solid #101116;}
.s7-title-container{padding:0px 15px 60px 15px;}
.s7-title-big{font-size:42px;color:#ffffff;}
.s7-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s7-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s7-title-small span{color:#d3d7e4;}



/* CONTENT FOR SECTION */

.s8{background:#181a21}
.s8-pattern{padding:0px 0px 100px 0px;}


/* items left,middle, right */
.s8-item-left{}
.s8-item-middle{margin:0px 0px 0px 0px}
.s8-item-right{margin:0px 0px 0px 0px}
/* content of item */
.s8-item-content{background:#16181e;border:1px solid #16181e;padding:15px;}
.s8-item-content p{padding:0;margin:0;font-weight:500;color:#99a0b5;font-size:14px;line-height:24px;}

/* arrow on bottom of item */
.s8 .arrow-down {
	height: 32px;
	width: 32px;
	background-image: url('../img/arrow-down.png');
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: transparent;
	position: absolute;
	top: 100%;
	left: 47%;
	margin-top:-1px;
}
/* person photo and description */
.s8-person{padding:45px 0px 0px 0px;text-align:center;}
.s8-person img{width:60px;height:60px;padding:4px;border:1px solid #373a4a;display:inline-block;overflow:hidden;}
.s8-person p {display:inline-block;padding:0;margin:0;vertical-align:middle;margin-left:5px;}
.s8-person p span.person-name{display:block;text-align:left;font-weight:800;font-size:15px;color:#ffffff;}
.s8-person p span.person-title{display:block;text-align:left;font-weight:600;color:#feb843;}

/* orange feb843 */
/* green 4eb96e */




/*------------------------------------------*/
/*	 6 SECTION - logotypes
/*------------------------------------------*/

/* SECTION TITLE */

.s9{background:#16181e;}
.s9-pattern{padding:80px 0px 0px 0px;}

.s9-title-container{padding:0px 15px 60px 15px;}
.s9-title-big{font-size:42px;color:#ffffff;}
.s9-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s9-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s9-title-small span{color:#d3d7e4;}


/* SECTION CONTENT */
.s10{background:#16181e;}
.s10-pattern{padding:0px 0px 80px 0px;}

.owl-logotypes .item img{width:100px;height:100px;}




/*------------------------------------------*/
/*	 7 SECTION - chart
/*------------------------------------------*/	


/* CONTENT WITH BACKGROUND FOR SECTION */

/* background and pattern */
.s12{background:#16181e;background: url('../img/patterns/padded2.png');background-attachment:fixed;}	
.s12-pattern{padding:80px 0px 100px 0px;}

/* title for section */
.s12-title-container{padding:0px 15px 60px 15px;}
.s12-title-big{font-size:42px;color:#ffffff;}
.s12-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s12-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s12-title-small span{color:#d3d7e4;}



/*------------------------------------------*/
/*	 8 SECTION - frequently asked questions
/*------------------------------------------*/	

/* background with for section */
.s13{background:#181a21;}	
.s13-pattern{padding:80px 0px 0px 0px;border-top:1px solid #101116;}

/* SECTION TITLE */
.s13-title-container{padding:0px 15px 60px 15px;}
.s13-title-big{font-size:42px;color:#ffffff;}
.s13-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s13-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s13-title-small span{color:#d3d7e4;}

/* SECTION CONTENT */
.s14{background:#181a21;}
.s14-pattern{padding:0px 0px 80px 0px;}

.s14-container{padding:40px 0px 0px 0px;}
/* BOOTSTRAP COLLABSE */
.panel-group .panel{margin-bottom:12px;}
.panel-default{border:1px solid #373a4a;border-radius:0px !important;background:transparent;font-weight:300;}
.panel-default>.panel-heading{background:transparent;border:0 !important;color:#ffffff;font-weight:300;}
.panel-default>.panel-heading .panel-title{font-weight:700;text-align:center;}
.panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top:1px solid #373a4a;font-size:14px;font-weight:500;line-height:24px;color:#99a0b5;
	padding:15px 30px 15px 30px;text-align:center;
}



/*------------------------------------------*/
/*	 9 SECTION - contact
/*------------------------------------------*/

.s15{background:#16181e;}
.s15-pattern{padding:80px 0px 100px 0px;position:relative;}

/* SECTION TITLE */
.s15-title-container{padding:0px 15px 60px 15px;}
.s15-title-big{font-size:42px;color:#ffffff;}
.s15-title-big h2{font-size:42px;color:#ffffff;font-weight:300;}
.s15-title-small{padding:5px 0px 0px 0px;color:#99a0b5;font-size:18px;font-weight:500;line-height:26px;}
.s15-title-small span{color:#d3d7e4;}

/* small info for inputs */
.help-block{font-weight:400;font-size:12px;margin-left:4px;color:#99a0b5;}

/* container for contact form */
.s15-col-contact{padding:40px 15px 15px 15px;}

/* textarea behavior */
.s15-col-contact textarea{
	box-shadow:none;font-weight:600;border-radius:0px !important;background:transparent !important;
	border:1px solid #373a4a !important;color:#ffffff !important;resize:none;font-size:14px;
	
	
}
.s15-col-contact textarea:focus {box-shadow:none !important;outline:0;background:rgba(0,0,0,0.2) !important;border:1px solid #99a0b5 !important;border-radius:0px !important;}
.s15-col-contact textarea:active:hover{box-shadow:none !important;outline:0;background:transparent !important;border:1px solid #99a0b5 !important;border-radius:0px !important;}
.s15-col-contact textarea:hover{box-shadow:none !important;outline:0;background:transparent !important;border:1px solid #99a0b5 !important;border-radius:0px !important;}

/* inputs behavior */
.s15-col-contact input{
	box-shadow:none;font-weight:600;background:transparent !important;border:1px solid #373a4a !important;color:#ffffff !important;border-radius:0px !important;
	font-size:14px;
}
.s15-col-contact input:focus {box-shadow:none !important;outline:0;background:transparent !important;border:1px solid #99a0b5 !important;border-radius:0px !important;}
.s15-col-contact input:active:hover{box-shadow:none !important;outline:0;background:transparent !important;border:1px solid #99a0b5 !important;border-radius:0px !important;}
.s15-col-contact input:hover{box-shadow:none !important;outline:0;background:transparent !important;border:1px solid #99a0b5 !important;border-radius:0px !important;}

/* submit button */
.btn-s2-contact{
	margin:10px 0px 0px 15px;display:inline-block;vertical-align:2px;border-radius:4px;
	background:#FFC400;border:0;font-weight:600;font-size:16px;padding:12px 18px 10px 18px;
	border-bottom:2px solid #dbb32e;
}
.btn-s2-contact i{margin-right:10px;}
.btn-s2-contact:hover{background:#dbb32e;color:#ffffff;border-bottom:2px solid #dbb32e;}

/* column for inputs - used in media.css for responsive behavior */
.s15-col-md-left{padding:0px 15px 0px 0px}
.s15-col-md-right{padding:0px 0px 0px 15px}

/* button submit */
.btn-submit{display:inline-block;border:1px solid #feb843;color:#e5e5e5;font-size:13px;font-weight:700;background:transparent;}
.btn-submit:hover{display:inline-block;border:1px solid #feb843;color:#000000;font-size:13px;font-weight:700;background:#feb843;}

/* small footer */
.s15-footer{background:#14151b;padding:20px 0px 20px 0px;color:#f1f1f1;position:absolute;bottom:0;font-weight:600;left:0;right:0;}


/* container for google map */
#gmap{width:100%;min-height:400px;max-height:400px;}



