.tooltipster-punk {
	border-radius: 0px; 
	border: 1px solid #d8d8d8;
	background: transparent;
	color: #f4f4f4;
}
.tooltipster-punk .tooltipster-content {
	font-family:'Raleway';
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight:600;
}




.tooltipster-fb {
	border-radius: 0px; 
	border: 1px solid #3A5795;
	background: transparent;
	color: #fff;
}
.tooltipster-fb .tooltipster-content {
	font-family:'Raleway';
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight:600;
}


.tooltipster-tw {
	border-radius: 0px; 
	border: 1px solid #53A9EA;
	background: transparent;
	color: #fff;
}
.tooltipster-tw .tooltipster-content {
	font-family:'Raleway';
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight:600;
}



.tooltipster-gp {
	border-radius: 0px; 
	border: 1px solid #D94835;
	background: transparent;
	color: #fff;
}
.tooltipster-gp .tooltipster-content {
	font-family:'Raleway';
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight:600;
}



.tooltipster-p {
	border-radius: 0px; 
	border: 1px solid #CB2027;
	background: transparent;
	color: #fff;
}
.tooltipster-p .tooltipster-content {
	font-family:'Raleway';
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	font-weight:600;
}











